<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Expose-Headers" value="Location,x-total-count" />
                    <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
                    <remove name="X-Powered-By" />
                </customHeaders>
            </httpProtocol>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <security>
                <requestFiltering removeServerHeader="true" />
            </security>
            <aspNetCore processPath="dotnet" arguments=".\SimpleDistanceApi.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: b7d19110-d442-49e5-a227-e2b0ad1e130e-->
